@model List<ContactGetDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="email-left-box">
                        <a href="/admin/contact/sendmessage/" class="btn btn-primary btn-block">Compose</a>
                        @await Html.PartialAsync("_ContactNavBarPartial");

                        @await Html.PartialAsync("_ContactCategoriesPartial");
                    </div>
          
                    <div class="email-right-box">
                        <div role="toolbar" class="toolbar">
                            <div class="btn-group">
                                <button aria-expanded="false"  class="btn btn-dark" type="button">
                                    Messages <span class="caret m-l-5"></span>
                                </button>
                            </div>
                        </div>

                        @foreach (var item in Model)
                        {
                            <div class="email-list m-t-15">
                                <div class="message">
                                    <a href="/admin/contact/inboxmessagedetails/@item.Id">
                                        <div class="col-mail col-mail-1">
                                            <div class="email-checkbox">
                                                <input type="checkbox" id="chk2">
                                                <label class="toggle" for="chk2"></label>
                                            </div><span class="star-toggle ti-star"></span>
                                        </div>
                                        <div class="col-mail col-mail-2">
                                            <div class="subject">
                                                <p><b>@item.Name</b> <span style="padding-left: 80px;"><b>@item.Subject</b></span> - @item.Message.Substring(0, 70)</p>
                                            </div>

                                            <div class="date">@(((DateTime)item.Date).ToString("dd-MMM-yyyy"))</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                        <!-- pagination -->
                        <div class="row">
                            <div class="col-7">
                                <div class="text-left">1 - 20 of 568</div>
                            </div>
                            <div class="col-5">
                                <div class="btn-group float-right">
                                    <button class="btn btn-gradient" type="button">
                                        <i class="fa fa-angle-left"></i>
                                    </button>
                                    <button class="btn btn-dark" type="button">
                                        <i class="fa fa-angle-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>