<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("~/Views/Shared/PartialViews/Home/_HeadPartial.cshtml");
</head>
<body>
    @* @await Html.PartialAsync("~/Views/Shared/PartialViews/Home/_SpinnerPartial.cshtml") *@
    <header>
        @await Html.PartialAsync("~/Views/Shared/_HeaderPartial.cshtml")
    </header>
    @RenderBody()

    <footer>
        @await Html.PartialAsync("~/Views/Shared/_FooterPartial.cshtml")
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
