
@model List<StaffViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Staff Name</th>
        <th>Staff Title</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Details</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Id</th>
            <th>@item.Name</th>
            <th>@item.Title</th>
            <th><a href="#" class="btn btn-danger">Delete</a></th>
            <th><a href="#" class="btn btn-warning">Update</a></th>
            <th><a href="#" class="btn btn-dark">Details</a></th>
        </tr>
    }
</table>

<a href="#" class="btn btn-info">New Personel</a>
