<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Admin/Staff/Index/" aria-expanded="false">
                    <img src="/uploads/Admin/SideBar/staff.png" class="menu-icon"><span class="nav-text"> Staff</span>
                </a>
                <a href="/Admin/Testimonial/Index/" aria-expanded="false">
                    <i class="icon-star menu-icon"></i><span class="nav-text">Testimonials</span>
                </a>
                <a href="/Admin/About/Index" aria-expanded="false">
                    <i class="icon-star menu-icon"></i><span class="nav-text">About</span>
                </a>
            </li>
        </ul>
    </div>
</div>
